[Unit]
Description=rpicam
After=syslog.target

[Service]
Type=simple
WorkingDirectory=/home/pi/rpi_digital_camera
ExecStart=/home/pi/rpi_digital_camera/rpi_digital_camera.py
TimeoutStopSec=5
StandardOutput=null

[Install]
WantedBy = graphical.target
